@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next { height: 100%; }
body { background: #05060a; color: #fff; }
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.line-clamp-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }